#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>
#include <dt-bindings/pinctrl/nrf-pinctrl.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/* Studio + underglow */
/{
    chosen {
    zmk,matrix_transform = <&transform>;
    zmk,underglow = &led_strip;
};

    /* 霍尔摇杆 → 鼠标指针（完整配置，覆盖 dtsi 里的基础定义） */
    joystick: analog_input_0 {
        compatible = "zmk,analog-input";
        sampling-hz = <100>;
    
        x-ch {
            io-channels = <&adc 0>;
            mv-mid = <1650>;
            mv-min-max = <1600>;
            mv-deadzone = <30>;
            scale-multiplier = <1>;
            scale-divisor = <60>;
            invert;
            evt-type = <INPUT_EV_REL>;
            input-code = <INPUT_REL_X>;
        };
    
        y-ch {
            io-channels = <&adc 5>;
            mv-mid = <1650>;
            mv-min-max = <1600>;
            mv-deadzone = <30>;
            scale-multiplier = <1>;
            scale-divisor = <60>;
            invert;
            evt-type = <INPUT_EV_REL>;
            input-code = <INPUT_REL_Y>;
            report-on-change-only;
        };
    };
}


/* 开启 ADC（摇杆用） */
&adc {
    status = "okay";
};


/* WS2812 灯带 */
&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 10)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 10)>;
            low-power-enable;
        };
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <16>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};
