/* 第一部分：引入必要的字典 */
#include <behaviors.dtsi>          // 核心行为
#include <dt-bindings/zmk/keys.h>  // 键盘按键字典 (如 A, B, RET)
#include <dt-bindings/zmk/bt.h>    // 蓝牙控制字典
#include <dt-bindings/zmk/ext_power.h> // 电源控制
#include <dt-bindings/zmk/mouse.h> // 鼠标控制字典
#include <dt-bindings/zmk/rgb.h>        // RGB 灯效控制
#include <dt-bindings/zmk/outputs.h>    // 输出切换 (USB/BLE)
#include <dt-bindings/zmk/pointing.h>   /* 鼠标模拟*/
#include <dt-bindings/zmk/backlight.h>  //背光控制


/* 第二部分：定义你的层级名称（方便阅读，不是必须的，但极度推荐） */
#define DEFAULT 0   // 办公模式
#define GAME    1   // 游戏模式
#define GLOBAL  2   // 你的全局设置层 (音量/灯光)

/ {
    combos {
        compatible = "zmk,combos";

        change_layer {
            bindings = <&to 0>;
            key-positions = <2 1>;
            timeout-ms = <150>;
            layers = <2>;
        };

        change_layer1 {
            bindings = <&to 1>;
            key-positions = <2 1>;
            timeout-ms = <150>;
            layers = <0>;
        };

        change_layer2 {
            bindings = <&to 2>;
            key-positions = <2 1>;
            timeout-ms = <150>;
            layers = <1>;
        };
        BOOTLOADER {
            bindings = <&bootloader>;
            key-positions = <0 2 14 16>;
            timeout-ms = <200>;
        };
        BTCLR {
            bindings = <&bt BT_CLR>;
            key-positions = <2 14 16>;
            timeout-ms = <200>;
        };
    };

    behaviors {
        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            /* 注意第一个按键是hold功能，第二个才是tap */
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <1500>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        office {
            bindings = <
                &kp DEL     &hold_tap C_PREVIOUS HOME  &hold_tap C_NEXT END      &hold_tap C_PLAY_PAUSE C_MUTE        &msc SCRL_UP
                &kp KP_NUMBER_7      &kp KP_NUMBER_8      &kp KP_NUMBER_9       &mkp LCLK        &msc SCRL_UP
                &kp KP_NUMBER_4      &kp KP_NUMBER_5      &kp KP_NUMBER_6      &none        &msc SCRL_DOWN
                &kp KP_NUMBER_1      &kp KP_NUMBER_2      &kp KP_NUMBER_3       &none        &msc SCRL_DOWN
                &kp KP_NUMBER_0      &kp PERIOD     &kp PRINTSCREEN       &none        &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;   /* 绑定写在这里才能生效，顺时针音量加，逆时针音量减 */
        };

        function {
            bindings = <
                &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &kp K_SCREENSAVER  &kp C_MUTE        &msc SCRL_UP
                &kp F7      &kp F8      &kp F9      &mkp LCLK        &msc SCRL_UP
                &kp F4      &kp F5      &kp F6      &none        &msc SCRL_DOWN
                &kp F1      &kp F2      &kp F3      &none        &msc SCRL_DOWN
                &kp F10     &kp F11     &kp F12     &none        &none
            >;
        };

        game {
            bindings = <
                &kp C_PLAY_PAUSE      &kp C_PREVIOUS     &kp C_NEXT      &kp C_MUTE        &msc SCRL_UP
                &none           &kp UP             &none           &mkp LCLK        &msc SCRL_UP
                &kp LEFT        &kp DOWN           &kp RIGHT       &none        &msc SCRL_DOWN
                &kp LEFT_SHIFT  &none              &kp LALT        &none        &msc SCRL_DOWN
                &kp LCTRL       &none              &kp SPACE       &none        &none
            >;
        };
        /* === ZMK Studio 必须的保留层 === */
        extra1 {
            status = "reserved";
        };
        extra2 {
            status = "reserved";
        };
    };
};
