#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/input/input-event-codes.h>

/ {
    chosen {
        zmk,matrix_transform = <&transform>;   /* Studio 需要 */
        zmk,underglow = &led_strip;
    };

    /* 只保留 WS2812 和摇杆增强（kscan/encoder 全部交给 dtsi） */
    &adc {
        status = "okay";
    };

    joystick: analog_input_0 {
        compatible = "zmk,analog-input";
        sampling-hz = <100>;

        x-ch {
            io-channels = <&adc 0>;
            mv-mid = <1650>;
            mv-min-max = <1600>;
            mv-deadzone = <30>;
            scale-multiplier = <1>;
            scale-divisor = <60>;
            invert;
            evt-type = <EV_ABS>;
            input-code = <ABS_X>;
        };

        y-ch {
            io-channels = <&adc 5>;
            mv-mid = <1650>;
            mv-min-max = <1600>;
            mv-deadzone = <30>;
            scale-multiplier = <1>;
            scale-divisor = <60>;
            invert;
            evt-type = <EV_ABS>;
            input-code = <ABS_Y>;
            report-on-change-only;
        };
    };
};

/* WS2812 灯带 */
&pinctrl {
    spi3_default: spi3_default { group1 { psels = <NRF_PSEL(SPIM_SCK, 0, 31)>; }; };
    spi3_sleep: spi3_sleep { group1 { psels = <NRF_PSEL(SPIM_SCK, 0, 31)>; low-power-enable; }; };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <16>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <0x00 0x00 0x00 0x00>;  /* GRB order */
    };
};
