#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &layout;
        zmk,underglow = &pad15_leds;
    };

    /* 1. 物理布局（visualizer 用） */
    layout: layout {
        compatible = "zmk,physical-layout";
        display-name = "Pad15";
        transform = <&transform>;
        kscan = <&kscan0>;               

        keys = <&key_physical_attrs 100 100    0    0       0     0     0>
               , <&key_physical_attrs 100 100  100    0       0     0     0>
               , <&key_physical_attrs 100 100  200    0       0     0     0>
               , <&key_physical_attrs 100 100  300    0       0     0     0>
               , <&key_physical_attrs 100 100    0  100       0     0     0>
               , <&key_physical_attrs 100 100  100  100       0     0     0>
               , <&key_physical_attrs 100 100  200  100       0     0     0>
               , <&key_physical_attrs 100 100  300  100       0     0     0>
               , <&key_physical_attrs 100 100    0  200       0     0     0>
               , <&key_physical_attrs 100 100  100  200       0     0     0>
               , <&key_physical_attrs 100 100  200  200       0     0     0>
               , <&key_physical_attrs 100 100    0  300       0     0     0>
               , <&key_physical_attrs 100 100  100  300       0     0     0>
               , <&key_physical_attrs 100 100  200  300       0     0     0>
               , <&key_physical_attrs 100 100    0  400       0     0     0>
               , <&key_physical_attrs 100 100  100  400       0     0     0>
               , <&key_physical_attrs 100 100  200  400       0     0     0>

               /* 4 个触摸键（第四列）*/
               , <&key_physical_attrs 100 100  300  300       0     0     0>
               , <&key_physical_attrs 100 100  300  400       0     0     0>
               , <&key_physical_attrs 100 100  300  500       0     0     0>
               , <&key_physical_attrs 100 100  300  600       0     0     0>
                ;
    };
};


/* WS2812 灯带 */
&pinctrl {
	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MOSI, 0, 24)>;
		};
	};

	spi3_sleep: spi3_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_MOSI, 0, 24)>;
			low-power-enable;
		};
	};
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";

	pad15_leds: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <3000000>;
		chain-length = <16>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    
        /* 第一排 (y = 0) */
        led0: led_0 { x = <0>;   y = <0>; };
        led1: led_1 { x = <10>; y = <0>; };
        led2: led_2 { x = <20>; y = <0>; };
        
        /* 第二排 (y = 10) */
        led3: led_3 { x = <0>;   y = <10>; };
        led4: led_4 { x = <10>; y = <10>; };
        led5: led_5 { x = <20>; y = <10>; };
        
        /* 第三排 (y = 20) + 特殊的第 16 颗灯 */
        led6: led_6 { x = <0>;   y = <20>; };
        led7: led_7 { x = <10>; y = <20>; };
        led8: led_8 { x = <20>; y = <20>; };
        led15: led_15 { x = <30>; y = <20>; }; /* 第 16 颗：第三行第四列 */
        
        /* 第四排 (y = 30) */
        led9:  led_9  { x = <0>;   y = <30>; };
        led10: led_10 { x = <10>; y = <30>; };
        led11: led_11 { x = <20>; y = <30>; };
        
        /* 第五排 (y = 400) */
        led12: led_12 { x = <0>;   y = <40>; };
        led13: led_13 { x = <10>; y = <40>; };
        led14: led_14 { x = <20>; y = <40>; };
    };
};
